
@{
    Layout = null;
}


<!-- Main Footer -->
<footer class="main-footer">
    <strong>Copyright &copy; 2021 <a href="/">ToToShop Việt Nam</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
    </div>
</footer>
  </div>
<!-- ./wrapper -->
<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="~/public/Admin/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="~/public/Admin/plugins/raphael/raphael.min.js"></script>
<script src="~/public/Admin/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="~/public/Admin/plugins/jquery-mapael/maps/usa_states.min.js"></script>
<!-- ChartJS -->
<script src="~/public/Admin/plugins/chart.js/Chart.min.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="~/public/Admin/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/public/Admin/dist/js/pages/dashboard2.js"></script>

